@charset "UTF-8";

/*****************************************
			Option Group
*****************************************/
.optionGroup {
	background: #FDF0F2;
	padding: 25px 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.optionGroupInner {
	width: 1100px;
	margin: 0 auto;
}
/*****************************************
		Calendar Inner Page
*****************************************/
.calendar_page {
	clear: both;
	margin: 25px auto;
	position: relative;
}
.calendar_page table {
	background-color: #FFF;
	width: 100%;	
	border: solid 1px #CCC;
}
.calendar_page table caption {
	padding: 5px 0;
	text-align: center;
}
.calendar_page table thead th {
	padding: 5px 0;
	text-align: center;
	border-bottom: solid 1px #CCC;
	border-left: solid 1px #CCC;
	background-color: #FFFAE2;
}
.calendar_page table thead th.sun {
	background-color: #FFDFE3;
}
.calendar_page table thead th.sat {
	background-color: #ACD5E9;
}
.calendar_page table tbody td {
	padding: 5px 0;
	text-align: center;
	border-left: solid 1px #CCC;
	border-bottom: dotted 1px #CCC;
}
.calendar_page table td.today { background: #FFEDCB; }
.calendar_page table td a { color: #00F; }
.calendar_page table td a:visited { color: #606; }
.calendar_page table td.sun { color: #D90000; }
.calendar_page table td.sat { color: #4072A7; }
.calendar_page_prev_month,
.calendar_page_next_month {
	background: url(../img/option/page_calendar_nav.png) 0 0 no-repeat #01ACB9;
	width: 20px;
	height: 20px;
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 3px;
	position: absolute;
	top: 6px;
	cursor: pointer;
	color: #000;
}
.calendar_page_prev_month {
	background-position: 0 0 !important;
	left: 20px;
}
.calendar_page_next_month {
	background-position: -20px 0 !important;
	right: 20px;
}
.calendar_page_prev_month:hover,
.calendar_page_next_month:hover {
	background-color: #06F;
}
/*****************************************
				Open Data
*****************************************/
.openDataFileDL {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.openDataFileDL h2 {
	background: #0C3388;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #FFF;
}
.openDataFileDL .inner {
	padding: 12px;
}
.openDataFileDL .inner ul {
	margin: 0 0 7px 0;
	padding: 0;
	list-style: none;
}
.openDataFileDL .inner ul li {
	padding: 5px 5px 5px 24px;
	background: url(../img/parts/point_blue.png) 2px 12px no-repeat;
	border-bottom: dotted 1px #999;
}
.openDataFileDL .inner ul li:last-child {
	border-bottom: none;
}
.openDataFileDL .inner ul li a {
	margin: 0 10px 0 0;
}
.openDataFileDL .inner ul li .odfExt {
	display: inline-block;
	margin: 0 10px 0 0;
	padding: 8px 12px;
	background-color: #0F3D90;
	border-radius: 50px;
	color: #FFF;
	font-size: 93%;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1;
}
/*****************************************
			File Download
*****************************************/
.fileDL {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.fileDL h2 {
	background: #0C3388;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #FFF;
}
.fileDL .inner {
	padding: 12px;
}
.fileDL .inner ul {
	margin: 0 0 7px 0;
	padding: 0;
	list-style: none;
}
.fileDL .inner ul li {
	padding: 5px 5px 5px 33px;
	border-bottom: dotted 1px #333;
}
.fileDL .inner ul li.doc { background: url(../img/option/icon_word.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.xls { background: url(../img/option/icon_excel.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.pdf { background: url(../img/option/icon_pdf.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.zip { background: url(../img/option/icon_zip.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.docx { background: url(../img/option/icon_word.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.xlsx { background: url(../img/option/icon_excel.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.mp3 { background: url(../img/option/icon_audio.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.wma { background: url(../img/option/icon_audio.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.audio { background: url(../img/option/icon_audio.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.csv { background: url(../img/option/icon_csv.gif) 5px 6px no-repeat; }
.fileDL .inner ul li.ppt { background: url(../img/option/icon_ppt.gif) 5px 6px no-repeat; }
.fileDL .inner ul li a {
	margin: 0 10px 0 0;
}
.fileDL .adobe {
	overflow: hidden;
}
.fileDL .adobe img {
	margin: 5px 10px 0 0;
	float: left;
}
.fileDL .adobe p {
	padding: 5px 0 0 0;
	font-size: 93%;
	line-height: 1.41;
	overflow: hidden;
}
/*****************************************
			FAQ Collection
*****************************************/
.faqCollection {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.faqCollection h2 {
	background: #E6C0BD;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #27120A;
}
.faqCollection .inner {
	padding: 12px;
}
.faqCollection .inner h3 {
	margin: 0 0 5px 0;
	font-size: 107%;
	font-weight: bold;
}
.faqCollection .inner ul {
	margin: 0 -8px 10px -8px;
	padding: 0 15px 10px 15px;
	list-style: none;
	border-bottom: dotted 1px #333;
}
.faqCollection .inner ul li {
	padding: 5px 5px 5px 24px;
	background: url(../img/parts/point_blue.png) 2px 10px no-repeat;
	border-bottom: dotted 1px #999;
}
.faqCollection .inner ul li:first-of-type {
	border-top: none;
}
.faqCollection .inner ul li a {
	margin: 0 5px 0 0;
}
.faqCollection .inner .btn_more {
	display: inline-block;
	background: url("../img/parts/point_skyblue.png") calc(100% - 16px) 50% no-repeat #FFF;
	height: 46px;
	margin: 5px 0 0 0;
	padding: 0 50px 0 20px;
	line-height: 46px;
	font-weight: bold;
	text-decoration: none;
	color: #1F2E55;
	border: 2px solid #1F2E55;
	border-radius: 100px;
}
.faqCollection .inner .btn_more:hover {
	background-color: #1F2E55;
	color: #FFF;
}
/*****************************************
			Related Pages
*****************************************/
.relPage {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.relPage h2 {
	background: #E6C0BD;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #27120A;
}
.relPage .inner {
	padding: 12px;
}
.relPage .inner ul {
	padding: 0 7px;
	list-style: none;
}
.relPage .inner ul li {
	padding: 5px 5px 5px 24px;
	background: url(../img/parts/point_blue.png) 2px 10px no-repeat;
	border-bottom: dotted 1px #999;
}
.relPage .inner ul li:first-of-type {
	border-top: none;
}
/*****************************************
				Reference
*****************************************/
.reference {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.reference h2 {
	background: #0C3388;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #FFF;
}
.reference .inner {
	padding: 12px;
	border-top: 1px dotted #999;
}
.reference .inner:first-of-type {
	border-top: none;
}
.reference .inner h3 {
	background: #FFF;
	margin: 0 0 5px 0;
	padding: 8px 12px;
	font-size: 107%;
	font-weight: bold;
	border: 1px solid #DDD;
}
.reference .inner dl dt {
	font-weight: bold;
}
.reference .inner .btn_more {
	display: inline-block;
	background: url("../img/parts/point_skyblue.png") calc(100% - 16px) 50% no-repeat #FFF;
	height: 46px;
	margin: 5px 0 0 0;
	padding: 0 50px 0 20px;
	line-height: 46px;
	font-weight: bold;
	text-decoration: none;
	color: #0340AB;
	border: 2px solid #0340AB;
	border-radius: 100px;
}
.reference .inner .btn_more:hover {
	background-color: #0340AB;
	color: #FFF;
}
/*****************************************
				Enquete
*****************************************/
.enquete {
	clear: both;
	margin: 25px auto;
	overflow: hidden;
}
.enquete h2 {
	background: #0C3388;
	padding: 4px 6px 4px 18px;
	line-height: 40px;
	font-weight: bold;
	font-size: 115%;
	border-radius: 3px;
	color: #FFF;
}
.enquete .inner {
	padding: 12px;
}
.enquete .inner label {
	margin: 0 10px 0 0;
}
.enquete .inner .fieldgroup {
	margin: 10px 0;
}
.enquete .inner .fieldgroup .enqQ {
	display: block;
	margin: 0 0 3px 0;
	font-weight: bold;
}
.enquete .inner .fieldgroup input[type="text"] {
	width: 100%;
	padding: 8px;
	border: solid 1px #CCC;
	box-sizing: border-box;
}
.enquete .inner .fieldgroup textarea {
	width: 100%;
	height: 70px;
	padding: 8px;
	border: solid 1px #CCC;
	box-sizing: border-box;
}
.enquete .fieldgroup span {
	display: inline-block;
	margin: 0 10px 10px 0;
	position: relative;
}
.enquete .fieldgroup span input {
	position: absolute;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}
.enquete .fieldgroup span input[type="checkbox"] + label {
	display: block;
	background: url(../img/parts/checkbox_off.png) 0 50% no-repeat;
	background-size: 14px auto;
	padding: 0 0 0 18px;
	font-weight: normal !important;
}
.enquete .fieldgroup span input[type="checkbox"]:checked + label {
	background: url(../img/parts/checkbox_on.png) 0 50% no-repeat;
	background-size: 14px auto;
}
.enquete .fieldgroup span input[type="radio"] + label {
	display: block;
	background: url(../img/parts/radio_box_off.png) 0 50% no-repeat;
	background-size: 14px auto;
	padding: 0 0 0 18px;
	font-weight: normal !important;
}
.enquete .fieldgroup span input[type="radio"]:checked + label {
	background: url(../img/parts/radio_box_on.png) 0 50% no-repeat;
	background-size: 14px auto;
}
.enquete .inner .btn {
	text-align: center;
}
.enquete .inner .btn input {
	background: #FFF;
	width: 8em;
	margin: 5px;
	padding: 8px;
	line-height: 1;
	font-weight: bold;
	text-decoration: none;
	color: #0340AB;
	border: 2px solid #0340AB;
	border-radius: 100px;
	transition: 0.2s;
}
.enquete .inner .btn input:hover {
	background-color: #0340AB;
	color: #FFF;
}
.moreText {
	margin: 10px 0;
}
.enquete .inner .btn_more {
	display: inline-block;
	background: url("../img/parts/point_skyblue.png") calc(100% - 16px) 50% no-repeat #FFF;
	height: 46px;
	margin: 5px 0 0 0;
	padding: 0 50px 0 20px;
	line-height: 46px;
	font-weight: bold;
	text-decoration: none;
	color: #0340AB;
	border: 2px solid #0340AB;
	border-radius: 100px;
}
.enquete .inner .btn_more:hover {
	background-color: #0340AB;
	color: #FFF;
}